
<body>
    <div  class="homeImg" >
    <img src="https://github.com/dina-mohamed52/nextLevel-Food-next-js-/blob/main/public/images/schnitzel.jpg?raw=true"alt="">

    <p class="p1">NEXTLEVEL FOOD FOR <br>NEXTLEVEL FOODIES</p>
    <p class="p2">Test share food from all over the World</p>

   
    <button type="button" class="btn btn-link btn1" (click)="goTo('join-community')">Join the Community</button>
    <button type="button" class="btn btn-primary btn2" (click)="goTo('browse-meals')">Explore Meals</button>

    <p class="p3">How it works <br>

        NextLevel Food is a platform for foodies to share their favorite recipes with the world. It's a place to discover new dishes, and to connect with other food lovers. <br>
        
        NextLevel Food is a place to discover new dishes, and to connect with other food lovers. <br><br>
        
        Why NextLevel Food? <br>
        
        NextLevel Food is a platform for foodies to share their favorite recipes with the world. It's a place to discover new dishes, and to connect with other food lovers. <br>
        
        NextLevel Food is a place to discover new dishes, and to connect with other food lovers.</p>
    </div>
</body>
