.box
{
    height: 450px;
    width: 800px;
    position: absolute;
    z-index: 1;
    top: 160px;
    left: 300px;

    h1{
        color: white;
    }

    table
    {
        height: 300px;
        width: 600px;
        margin-left: 70px;
        margin-top: 30px;

        th
        {
            font-size: 24px;
            font-family: algerian;
            color: chocolate;
            text-align: center;
            
        }
    
        td
        {
            input
        {
            height: 40px;
            width: 500px;
            
        }
    }

    }

    button
    {
        width: 150px;
        height: 40px;
        background-color: chocolate;
        color: rgb(38, 32, 77);
        font-weight: bold;
    }

 
}